<body>
    <div align = "center">
        <% if @new_user == true %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                Thank you for signing up for collegeblend!
            </div>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                You have been awarded 5 points!
            </div>
            <%= javascript_include_tag 'points_alert' %>
        <% end %>
        <h1><%= @user.first_name %> <%= @user.middle_initial %> <%= @user.last_name %></h1>
        <hr /> 
        <p><b>Email:</b> <%= @user.email if @user.email %></p>
        <p><b>First Name:</b> <%= @user.first_name if @user.first_name %></p>
        <p><b>Middle Initial:</b> <%= @user.middle_initial if @user.middle_initial %></p>
        <p><b>Last Name:</b> <%= @user.last_name if @user.last_name %></p>
        <p><b>Birth Date:</b> <%= @user.birthdate if @user.birthdate %></p>
        <p><b>Points Earned:</b> <%= @user.points_total %></p>
        <p><b>$:</b> <%= @user.points_to_money %></p>
        <p> <%= link_to page_path('build_profile') do %>
                <button type="button" class="btn btn-primary">Build My Profile</button>
            <% end %>
        </p>
        <p> <% if current_user.admin? %>
                <%= link_to '#', :onclick => 'window.print();return false;' do %>
                    <button type="button" class="btn btn-primary">Print Report</button>
                <% end %>
            <% end %>
        </p>
        <p>
            <div class="progress block-for-print">
                <div class="progress-bar progress-money" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:<%= @user.money_earned_out_of_money_possible%>%">
                    <%= @user.money_earned_out_of_money_possible %> % (<%= '%.0f' % @user.points_to_money %> / 1000)
                </div>
            </div>
        </p>
    </div>
</body>


<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>