<body>
    <div align = "center">
        <% if @new_user == true %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                Thank you for signing up for collegeblend!
            </div>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                You have been awarded 5 points!
            </div>
            <%= javascript_include_tag 'points_alert' %>
        <% end %>
        <h1><%= @user.first_name %> <%= @user.middle_initial %> <%= @user.last_name %></h1>
        <hr /> 
        <p>Email: <%= @user.email if @user.email %></p>
        <p>First Name: <%= @user.first_name if @user.first_name %></p>
        <p>Middle Initial: <%= @user.middle_initial if @user.middle_initial %></p>
        <p>Last Name: <%= @user.last_name if @user.last_name %></p>
        <p>Birth Date: <%= @user.birthdate if @user.birthdate %></p>
        <p>Points Earned: <%= @user.points_total %></p>
        <p> <%= link_to page_path('build_profile') do %>
                <button type="button" class="btn btn-primary">Build My Profile</button>
            <% end %>
        </p>
    </div>
</body>


<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>