<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-inputs">
  
<p><br/><br/><br/><br/></p>  
<div class="container">  
  <div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center"><h1>User Login</h1></div>
          <form>
            <div class="form-group">
              <label for="user_email">Email address</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email Address" %>
              </div>            
            </div>
            <div class="form-group">
              <label for="user_password">Password</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-star"></i></span>
                <%= f.input :password, required: false, autofocus: true, label: false, placeholder: "Password" %>
              </div>   
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :button, "Log In", :class => "btn btn-primary" %>
            </div>
          </form>        
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

</div>
<% end %>

<div align="center">
  <%= render "devise/shared/links" %>
</div>
