<div class="box box-primary">
  <div class="box-body no-padding">
    <div class="mailbox-read-info">
      <h3><%= "#{@survey.name} Quiz" %></h3>
      </br>
      <%= form_for(@attempt, :url => attempt_scope(@attempt)) do |f| %>
        <%= f.fields_for :answers do |builder| %>
          <ul>
            <% @survey.questions.each_with_index do |question, index| %>
              <li>
                <p><%= question.text %></p>
                <%= hidden_field_tag "survey_attempt[answers_attributes][#{index}][question_id]", question.id %>
                <% question.options.each do |option| %>
                <%= check_box_tag "survey_attempt[answers_attributes][#{index}][option_id][]", option.id %>
                <%= option.text %> </br>
                <% end -%>
                </br>
              </li>
            <% end -%>
          </ul>
        <% end -%>
      <%= f.submit "Submit", :class => "btn btn-primary" %>
      <% end -%>
    </div>
  </div>
</div>