<!DOCTYPE html>
<html>
<head>
  <title>CollegeBlend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
   <%= stylesheet_link_tag '/bootstrap/css/bootstrap.min.css' %> 
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <%= stylesheet_link_tag '/dist/css/AdminLTE.min.css' %> 
  <%= stylesheet_link_tag '/dist/css/skins/skin-blue.min.css' %> 
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
  
      <!-- Logo -->
      <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>College</b>Blend</span>
      </a>
  
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
   
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
             <% if user_signed_in? %>
                <li><%= link_to 'Profile', current_user %></li>
                <li><%= link_to 'User Index', users_path %></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :class => "btn" %></li>
              <% else %>
                <li><%= link_to 'Home', page_path('home') %></li>
                <li><%= link_to 'User Index', users_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path, :class => "btn" %></li>
                <li><%= link_to 'Log In', new_user_session_path, :class => "btn" %></li>
                <li><%= link_to 'Contact', page_path('contact') %></li>
              <% end %>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</body
 


<body>

<div class = "container">
  <% flash.each do |message_type, message| %>
    <div id = "flash" class="flash-<%= message_type %>"><%= message %></div>
  <% end %>

<%= yield %>

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<%= javascript_include_tag '/plugins/jQuery/jquery-2.2.3.min.js' %>
<!-- Bootstrap 3.3.6 -->
<%= javascript_include_tag '/bootstrap/js/bootstrap.min.js' %>
<!-- AdminLTE App -->
<%= javascript_include_tag '/dist/js/app.min.js' %>

</body>
</html>



